[Desktop Entry]
Name=Kohiko
Comment=Lightweight Linux desktop environment built around its own X11 tiling window manager
Exec=/usr/local/bin/kohiko-session
Type=Application
DesktopNames=Kohiko
